<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ilsecondodasinistra.parakeet"
    android:installLocation="auto"
    android:targetSandboxVersion="2">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        android:name="MyApplication">
        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />

        <activity
            android:name="com.ilsecondodasinistra.parakeet.ParakeetMain"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="default-url"
                android:value="https://parakeet-instantapp.000webhostapp.com/open" />
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="parakeet-instantapp.000webhostapp.com" />
                <data android:pathPattern="/open" />
                <data android:scheme="http"/>
                <data android:scheme="https" />
            </intent-filter>
        </activity>

        <service android:name="com.ilsecondodasinistra.parakeet.NotificationService"></service>

        <receiver android:name="com.ilsecondodasinistra.parakeet.OnAlarmReceiver"></receiver>

        <activity
            android:name="settings.ParakeetSettingsActivity"
            android:label="@string/title_activity_parakeet_settings"
            android:theme="@style/AppTheme"></activity>
    </application>

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>
